<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Street address 1:</strong>
  <%= @listing.street_address_1 %>
</p>

<p>
  <strong>Street address 2:</strong>
  <%= @listing.street_address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @listing.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @listing.state %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @listing.postal_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @listing.country %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>

<div id="map">Google map will appear here...</div>
<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({
    provider: {},
    internal: {id: 'map'}
  },
  function() {
    markers = handler.addMarkers(<%=raw @pindrop.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(12);
  }
);
</script>
